@import "/css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
/* Header */

.header {
    background-color: #f1f1f1;
    padding-top: 46px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    position: relative;
    padding: 0 12px 3px 0;
    font-weight: 700;
    font-size: 32px;
    color: black;
    line-height: 1;
}
.logo::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #fda300;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
}

.nav-button {
    display: none;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

/*Header content*/

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
}

.header-content p {
    line-height: 2;

}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

/* Service*/

.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 60px;
}

.service-card {
    flex: 1 1 0;
    min-width: 315px;
}

.service-card-img {
    margin-bottom: 30px;
}

.service-card-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.service-card p {
    line-height: 2;
}

/*Portfolio*/

.portfolio {
    padding: 90px 0;
    background-color: #f1f1f1;
}

.portfolio-title {
    padding-bottom: 70px;
    text-align: center;
}

.title-1 {
    font-weight: 600;
    font-size: 34px;
}

.project {
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}

.project-img {
    max-width: 930px;
    margin-bottom: 40px;
}

.project-title {
    font-size: 18px;
}

.project-title a {
    color: black;
    text-decoration: underline;
}

/* Contacts */

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
   margin-bottom: 40px;
}
.title-1 {

}
.contacts-content {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 40px;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
    
}
.btn {
  display: inline-block;
  background-color: #000;
  padding: 7px 22px;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;

  transition: background-color 0.2s ease-in,
              top 0.2s ease-in;
}
.btn:hover, .btn:focus {
    background-color: #323232;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000;
}
.contacts-socials {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}
.contacts-footer {
    font-weight: 400;
    font-size: 14px;
    color: #323232;
}